
.button:hover{
    -fx-font-weight:bold;
    -fx-background-color: white;
    -fx-text-fill:  #00BCD4;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.button:pressed{
    -fx-font-weight:bold;
    -fx-background-color: white;
    -fx-text-fill:  #00BCD4;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}
 